.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__title {
  display: flex;
  padding-top: 100px;
  padding-left: 80px;
  max-width: 251px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  z-index: 1;
}

.about__content {
  color: #fff;
  padding: 119px 80px 173px 0;
  margin: 0;
}

.about__paragraph {
  display: flex;
  max-width: 660px;
  margin: 0;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 20px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
  animation: heartbeat 1.3s ease-in-out infinite;
}

@keyframes heartbeat {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* animate the about circle and then make the footer */
