.menu {
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  padding: 100px 0 24px;
  margin: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  padding: 0 0 100px;
  margin: 0;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}

.menu__cards:last-child {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
