.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  padding-top: 100px;
  padding-left: 80px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 80px;
  padding-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.recipes__iframe {
  margin-bottom: 24px;
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 215px;
}

.recipes__caption-paragraph {
  margin: 0;
}
