@import url(../vendor/normalize.css);
@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/recipes.css);
@import url(/blocks/reservation.css);

.menu {
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  padding: 100px 0 24px;
  margin: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  padding: 0 0 100px;
  margin: 0;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 540px;
  padding-bottom: 100px;
  padding-left: 0;
  gap: 100px;
  align-items: center;
}

.card__title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__unordered-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__list-item {
  font-family: "Noto Serif";
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {

}

.about {
}

.footer {
}
